<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated escaneo -->
      <package
            uri="http://udea/vulnfinder/securityTest"
            class="securityTest.SecurityTestPackage"
            genModel="model/escaneo.genmodel"/>
   </extension>

</plugin>
