<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.sxmi"
            id="edu.udea.vulnfinder.m2t.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="VulnFinder Model to Text" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="edu.udea.vulnfinder.m2t.ui.popupMenus.AcceleoGenerateVulnFinderAction"
               enablesFor="+"
               id="edu.udea.vulnfinder.m2t.ui.popupMenus.acceleoGenerateVulnFinderAction"
               icon="icons/default.gif"
               label="Generate VulnFinder Model"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>
      </objectContribution>
   </extension>
</plugin>
