<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="edu.udea.vulnfinder.design.Activator"
               id="edu.udea.vulnfinder.design"
	       name="vulnfinder">
    </component>
  </extension>
</plugin>
